* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-group {
    margin-top: 10px;
}

.table {
    margin-top: 100px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin: 10px 30px;
}

.typo-container {
    margin-top: 100px;
}